@charset "utf-8";
/* CSS Document */
.navbar-brand{
    background-color:#0CF;
}
.container{
	width:75%;
}
.row{
    width:75%;
	margin:10px auto;
	border:1px solid #999;	
}
.header{
    width:75%;
	margin:0px auto;
	font-size:16px;
}
.more{
   float:right;
}
.s_name{
   width:50%;
   float:left;  
}
.m_name{
   width:35%;
   float:left;
}
.imgs{
   width:15%;
   float:left;
}
.foot{
   font-size:36px;
}